<!DOCTYPE html>
<html>
<head>
    <title>Add Emp Output</title>
    <style>
        body {
            background-image: url('{{ background_image_url }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: {{ color }};
        }
        h1, h2 {
            color: DodgerBlue;
        }
        a {
            color: DodgerBlue;
            text-decoration: none;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <center>
        <font color="DodgerBlue" size="5" style="font-family: avenir">
            <h2>Developed by: {{ developer_names }}</h2> <!-- Display developer names here -->
            <h1>The employee {{ name }} was successfully added to the database</h1><br>
            <h2>The Employee has been added to the database</h2><br>
            <h2>{{ name }}</h2><br>
            <a href="{{ url_for('home') }}">Back</a>
        </font>
    </center>
</body>
</html>